addict
appdirs
attrdict
attrs
begins
black
click
coverage
colorama
cryptography
cycler
cython
dask
decorator
falcon
fastapi[all]==0.85.2
h5py
hdbscan
httpx
hug
imageio==2.9.0
ipywidgets==7.7.2
jupyterlab
kornia
loguru
mako
matplotlib
medicaltorch
morphsnakes
mrcfile
napari[all]
networkx
nibabel
nose
numba
numpy==1.21.6
numpydoc
pandas
parse
pillow
pip
pluggy
ptyprocess
pydantic
pygments
pyopengl
pyqtgraph==0.11.1
pysocks
pytest
python-snappy
pytools
pytz
pywavelets
pyyaml
pyzmq
PyQt5
qtawesome
qtconsole
qtpy
requests
ruamel.yaml
scikit-image==0.19.2
scikit-learn
scipy
seaborn
setuptools
simpleitk
snowballstemmer
tensorly
tifffile
torch
torchio
torchmetrics
tqdm
traitlets
trio
typing_extensions
umap-learn
unet
urllib3
vispy
volume-segmantics
wget
wheel
zict
zstd
