requests>=2.18.4
numpy>=1.12.1
pytest>=3.2.1
pycuda>=2017.1.1
QtAwesome>=0.4.4
Cython>=0.25.2
matplotlib>=2.0.0
hug>=2.3.1
scikit_image>=0.13.0
h5py>=2.7.0
scipy>=0.19.0
mrcfile>=1.0.0
dask>=0.14.1
PyQt5>=5.9.2
PySide>=1.2.4
parse>=1.8.2
scikit_learn>=0.19.1
tensorly>=0.2.0
vispy>=0.5.1
wget>=3.2
PyYAML>=3.12
